<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Doodle+Triangles&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/readmor/style.css" />
    <title>About</title>
</head>
<body>
    <main>
        <header>
            <div class="heding">
                <h1>About Page</h1>
            </div>
            <div class="form">
                <form action="/" method="get">
                    <button class="btn btn-primary" type="submit">Home</button>
                </form>
                <form action="/add" method="post">
                    <button class="btn btn-primary" type="submit">Add</button>
                </form>
            </div>
        </header>
        <div class="p">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nam. Saepe, officiis? Accusantium cupiditate similique qui ullam molestiae a magni voluptatibus, delena nostrum temporibus libero reprehenderit magnam aperiam? Quidem porro sed officiis consectetur exercitationem ad, reiciendis suscipit eos accusantium, dicta aperiam iste temporibus quisquam laudantium minima saepe inventore eius facere, molestiae in enim. Earum nostrum dolor soluta alias porro quo, animi nam distinctio vel rem perferendis illo dolore deleniti ipsum blanditiis consectetur repellat laudantium eos. Explicabo rem modi facilis animi ratione nisi quos saepe illum incidunt at. Aliquid delectus impedit omnis beatae earum ullam! Consequatur quos odio, blanditiis eaque nesciunt debitis quae similique quaerat, dolores modi inventore eum, veritatis quibusdam doloremque eos doloribus! Dignissimos recusandae, ullam consequatur nobis nemo odio ea rerum quia error sunt expedita quasi nisi eaque, sequi labore quo dolorem voluptas reprehenderit, porro fuga ad doloribus corporis rem doloremque. Incidunt laudantium quia alias vitae deleniti illo repellendus expedita, fugiat aspernatur quam, minus facere maxime voluptatum, quae velit! Optio tempore blanditiis delectus non et. Cumque aliquid quaerat obcaecati! Nihil, consequatur tempore modi at veniam quam obcaecati unde veritatis? Porro quidem accusantium quo dolorum possimus ad, aut nostrum quas? In temporibus ipsa non, laboriosam alias debitis, consequuntur, earum quam totam nulla corrupti asperiores optio officia incidunt unde ex maiores autem ad eum vel eaque. Natus temporibus dolorum praesentium eius dolores esse porro quisquam omnis nam et, veniam inventore voluptates fuga est. Tempora fugiat nihil perferendis ea consequuntur molestiae quo repellat. Laborum adipisci perspiciatis minus earum, quasi ducimus. Officia ut totam voluptatum quae aut sit perspiciatis quod. Quasi laudantium repellendus ad, sequi saepe consequatur deleniti quia, illo, numquam amet facilis quisquam. A accusamus, quaerat obcaecati esse fuga pariatur tempora facilis cumque fugiat earum repudiandae ipsa iste enim eos dicta animi. Consequatur sapiente  consectetur. Alias, eos repellendus placeat consectetur aspernatur voluptatum consequuntur quia ullam numquam accusamus aut harum incidunt, distinctio autem veritatis minus quidem minima quasi, voluptatibus expedita fugit voluptate? Quam exercitationem ut fugit cumque maiores recusandae et quasi! Blanditiis dolorum veritatis, recusandae quasi itaque at quibusdam voluptatibus suscipit atque corrupti molestias qui impedit natus accusantium laudantium commodi reprehenderit sapiente! Maiores architecto mollitia dolore distinctio rem?</p>
        </div>
    </main>
</body>
</html>